{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content %}
    <div class="container py-5">
        <h1 class="text-center mb-4" style="color: #155724;">Tableau de bord EcoRide</h1>
        <div class="row">
            <div class="col-md-12">
                <!-- Contenu du tableau de bord EasyAdmin -->
                {{ parent() }}
            </div>
        </div>
    </div>
{% endblock %}