{% extends 'base.html.twig' %}

{% block title %}Accueil - EcoRide{% endblock %}

{% block body %}
    <header>
        <h1>{{ title }}</h1>
    </header>
    <main>
        <p>Bienvenue sur EcoRide, votre plateforme de covoiturage écologique !</p>
    </main>
{% endblock %}