<footer class="border-top py-3" style="background-color: #d4edda;"> <!-- Fond vert léger -->
    <div class="container-fluid">
        <div class="d-flex flex-wrap align-items-center justify-content-between">
            <div class="col-md-3 mb-2 mb-md-0">
                <p class="mb-0">EcoRide. Tous droits réservés.</p>
            </div>
            <div class="col-md-auto mb-2 justify-content-center mb-md-0">
                <p class="mb-0"><a href="mailto:ecoride@exemple.com" class="text-decoration-none">ecoride@exemple.com</a></p>
            </div>
        </div>
    </div>
</footer>