<footer class="bg-light border-top py-3 mt-4">
    <div class="container-fluid">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <p class="mb-0">EcoRide. Tous droits réservés.</p>
            </div>
            <div>
                <p class="mb-0"><a href="mailto:ecoride@exemple.com" class="text-decoration-none">ecoride@exemple.com</a></p>
            </div>
        </div>
    </div>
</footer>