<header class="bg-light border-bottom">
    <div class="container-fluid">
        <div class="d-flex flex-wrap align-items-center justify-content-between py-3">
            <div class="col-md-3 mb-2 mb-md-0">
                <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
                    <img src="{{ asset('images/logo.svg') }}" alt="Logo EcoRide" width="80" height="64">
                </a>
            </div>
            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0 fs-5"> <!-- Ajout de la classe fs-5 -->
                <li><a href="{{ path('app_home') }}" class="nav-link px-2 link-secondary">Accueil</a></li>
                <li><a href="#" class="nav-link px-2">Covoiturage</a></li>
                <li><a href="#" class="nav-link px-2">Contact</a></li>
            </ul>
            <div class="col-md-3 text-end">
                <a href="{{ path('app_login') }}" class="btn btn-outline-primary me-2">Connexion</a>
                <a href="{{ path('app_login') }}" class="btn btn-primary">S'inscrire</a>
            </div>
        </div>
    </div>
</header>